.available {
  text-decoration: underline;
}

.not-available {
  color: grey;
}

li.not-available a {
  color: grey;
  text-decoration: line-through;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  padding: 10px;
}

.medium-text-area {
  height: 50px;
  width: 300px
}

.chef-list .title-bar {
  font-size: 1.3em;
}

.chef-list .description {
  padding: 10px;

}

.chef-list {
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  margin: 5px;
}

.pull-right {
  float: right;
}

.img-icon {
  max-width: 64px;
  max-height: 64px;
  padding: 5px;
}

.img-large {
  max-width: 300px;
  max-height: 300px;
}

.pull-left {
  float: left;
}